.VisionValues {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
  margin: 5rem auto;
}

.VisionValuesContent {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-right: 2rem;
}

.VisionValues img {
  height: 50vh;
}

.VisionValues div {
  height: 50vh;
  margin-left: 2rem;
}

.VisionValues h1 {
  font-size: 2.3rem;
  font-weight: 400;
  margin: 0;
  color: var(--secondary-color);
}

.VisionValues p {
  font-size: 0.8rem;
  color: var(--text-color);
}

@media only screen and (min-width: 320px) and (max-width: 812px) {
  .VisionValues {
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .VisionValues img {
    object-fit: cover;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 1rem;
    height: 266px;
  }

  .VisionValues div {
    height: 100%;
    margin-left: 0;
    margin-bottom: 1rem;
  }
}
