.MobileNavItems {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: white;
  transform: translateY(-150%);
  transition: transform 350ms ease-in-out;
  z-index: 100;
  padding: 1.2rem;
}

.MobileNavItems ul {
  padding: 0;
  margin: 0;
  list-style: none;
  border-bottom: 1px solid #ccc;
}

.MobileNavItems li a {
  font-weight: bold;
  color: var(--secondary-color);
  padding: 0.8rem 0;
  font-size: 0.8rem;
}

.MobileNavItems li > nav a {
  font-weight: 400;
  color: var(--primary-color);
  margin-left: 1rem;
}

.MobileNavItems li > nav a:hover,
.MobileNavItems li > nav a:active,
.MobileNavItems li > nav a.active {
  color: var(--accent-color);
}

.MobileNavLabel {
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: none;
}

.MobileNavLabel span,
.MobileNavLabel span::before,
.MobileNavLabel span::after {
  background: #031f4b;
  vertical-align: middle;
  display: inline-flex;
  align-content: center;
  height: 2px;
  width: 1.5rem;
  position: relative;
  border-radius: 3px;
  transition: transform 250ms ease-in-out;
}
.MobileNavLabel span::before,
.MobileNavLabel span::after {
  content: '';
  position: absolute;
  right: 0;
}

.MobileNavLabel span {
  transition: all 250ms ease-in-out 250ms;
}

.MobileNavLabel span::before {
  bottom: 7px;
  transition: all 170ms ease-in-out;
}

.MobileNavLabel span::after {
  top: 7px;
  transition: all 250ms ease-in-out;
}

.MobileNavToggle {
  display: none;
}

.MobileNavToggle:checked ~ nav {
  transform: translateY(0);
  position: fixed;
  top: 0;
}

.MobileNavLogo {
  font-family: 'Lora', serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.MobileNavLogo span {
  font-family: -apple-system, sans-serif;
  letter-spacing: 1px;
  font-size: 0.8rem;
}

@media only screen and (min-width: 320px) and (max-width: 812px) {
  .MobileNavLabel {
    display: block;
  }
}
