.MemberList {
  display: flex;
  flex-direction: row;
  padding: 2px 0;
}

.MemberList .Position {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--text-color);
  width: 100%;
  padding-left: 1rem;
}

.Position a {
  font-size: 1.6rem;
  margin: 0;
  color: var(--text-color);
  text-decoration: none;
}

.Position label {
  font-size: 0.8rem;
}

.MemberList div {
  height: 5rem;
  width: 6rem;
}

.MemberList img {
  height: 100%;
  width: 100%;
  background: #556080;
}
