.MemberProfile {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
  margin: 5rem auto;
  height: 100%;
  overflow-y: auto;
}

.MemberProfileContent {
  height: 100%;
  padding-right: 1rem;
}

.MemberProfile img {
  height: 50vh;
  max-width: 200px;
  object-fit: contain;
}

.MemberProfile div {
  height: 50vh;
  margin-left: 2rem;
}

.MemberProfile h1 {
  font-size: 2.3rem;
  font-weight: 400;
  margin: 0;
  color: var(--secondary-color);
}

.MemberProfile h4 {
  color: var(--text-color);
}

.MemberProfile p {
  font-size: 0.8rem;
  color: var(--text-color);
}

@media only screen and (min-width: 320px) and (max-width: 812px) {
  .MemberProfile {
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 1rem;
    overflow-y: visible;
  }

  .MemberProfile img {
    margin: auto;
    height: auto;
    object-position: center;
    padding-bottom: 2rem;
  }

  .MemberProfile div {
    height: 100%;
    margin-left: 0;
    margin-bottom: 1rem;
  }
}
